@{
    ViewData["Title"] = "Gini Index Trend in ASEAN- Dashboard";
}

<div class="container py-5">

    <h2>Dashboard</h2>
    <!-- Embed Power BI iframe -->
    <div class="ratio ratio-16x9 mb-4">
        <iframe title="GetGiniIndex" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMjRhYjdiODUtYmNhOC00YWQ3LTg0NmYtM2ViYjBiMTg3OGY1IiwidCI6IjhjMjE4YWEwLWE5MGItNGE2YS1hZjk4LWE2ZTYzODg5MDJkNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>

</div>