@{
    ViewData["Title"] = "Tariff and Trade Trend - Dashboard";
}

<div class="container py-5">
    <h2>Dashboard</h2>
    <!-- Embed Power BI iframe -->
    <div class="ratio ratio-16x9 mb-4">
        <iframe title="GetTarrifEscalationVsTradeDependenceData" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZTQ2ZWExMjQtNDAwMy00YTg2LTgzMjYtYjY0ZmMxMzcyZTU3IiwidCI6IjhjMjE4YWEwLWE5MGItNGE2YS1hZjk4LWE2ZTYzODg5MDJkNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
