@{
    ViewData["Title"] = "Electric Power Consumption Trend in ASEAN - Dashboard";
}

<div class="container py-5">
    
    <h2>Dashboard</h2>
    <!-- Embed Power BI iframe -->
    <div class="ratio ratio-16x9 mb-4">
        <iframe title="GetElectricPowerConsumptionInKwHrsPerCapitaData" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNWIxYmU2Y2ItYWQyNS00Zjc1LWJjNzAtYzZhMzJjNGEyNmVhIiwidCI6IjhjMjE4YWEwLWE5MGItNGE2YS1hZjk4LWE2ZTYzODg5MDJkNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>

</div>